
  <form style="text-align: center;" #editArticleForm="ngForm" (ngSubmit)="editArticleForm.valid && onSubmit(editArticleForm)">
    <h4>Select an Image</h4>
    <input type="file" name="image" value="articleDetails.image" #image="ngModel" [(ngModel)]="articleDetails.image"
          ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
      
        <br>
          <h4>Title</h4>
    <input type="text" [value]="articleDetails.title" #title="ngModel" [(ngModel)]="articleDetails.title" name="title" placeholder="Title">
    <h4>Body</h4>
        <editor  #body="ngModel" [(ngModel)]="articleDetails.body" name="body"
          placeholder="Body" minlength="20" required
          [ngClass]="{'invalid-textbox' :editArticleForm.submitted && !body.valid }"></editor>
       
      <br>
  
    <input type="submit" value="Edit" (click)="uploader.uploadAll()">
  </form>
  