<div *ngIf="userDetails">
    <form #AddStockForm="ngForm" style="text-align:center;" (ngSubmit)="AddStockForm.valid && onSubmit(AddStockForm)">
  
    
     <label for="name"  style="text-align:center;">Name</label>
    <br>
    <div class="container">
      <input type="text" #name="ngModel" [(ngModel)]="userService.selectedStock.name" name="name" placeholder="Name"
        required [ngClass]="{'invalid-textbox' :AddStockForm.submitted && !title.valid }">
        </div>
      <div *ngIf="AddStockForm.submitted && title.errors">
        <label *ngIf="title.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="title.errors.pattern" class="validation-message">Invalid title .</label>
      </div>
      <br>
     
      <label for="description">Description</label>
  <br>
      <div class="container">
      <editor #description="ngModel" [(ngModel)]="userService.selectedStock.description" name="description"
        placeholder="Description" minlength="5" required
        >
      </editor>
    </div>
    <br>
      <input type="submit" value="Add Stock">
    </form>
  
    <!-- Success message -->
    <div class="success" *ngIf="showSuccessMessage">
      Saved Successfully
    </div>
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>
  </div>