#button {
  background-color: black;
  border: none;
  color: white;
  border-radius: 0%;
}
.scrolled {
  padding-top: 20px;
}

.nav-item:hover .nav-link {
  color: blue;
}
.nav-item {
  padding: 10px;
  font-family: Nunito;
  font-weight: 700;

}
.Homepage {
  background-image: url("../../assets/img/bg.png");
  background-size: cover;
  padding-top: 10%;
  width: 95%;
  padding-bottom: 5%;
}
.button1 {
  background-color: white;
  border: none;
  color: black;
  border-radius: 0%;
  width: 70%;
  height: 50px;
  font-weight: lighter;
}
.button2 {
  background-color: black;
  border: none;
  color: white;
  border-radius: 0%;
  width: 90%;
  text-align: left;
  height: 50px;
  font-weight: lighter;
  float: left;
}
.button3 {
  background-color: black;
  border: none;
  color: white;
  border-radius: 0%;
  width: 90%;
  text-align: center;
  height: 40px;
  font-weight: lighter;
}
.Homepage2 {
  background-color: #f4f4f4;
  background-size: cover;
  padding-top: 10%;
  width: 95%;
  padding-bottom: 5%;
}
.button4 {
  background-color: black;
  border: none;
  color: white;
  border-radius: 0%;
  width: 90%;
  text-align: center;
  height: 50px;
  font-weight: lighter;
}
h1 {
  word-spacing: normal;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 40.4px;
}
h4{
    font-family: Nunito;
    font-weight: 300;


}
h3{
    font-family: Nunito;
    font-weight: 300;


}
@media only screen and (max-width: 768px) {
  .img {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
 #last{
   height:564px;
 }
 #menu{
   margin-left:60% ;
 }
 #navMob{
   display: none;
 }
}
@media only screen and (max-width: 1024px) {
 #navDes{
   display: none;
 }
 }
 #icon{
  
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  
 }
 @media (max-width: 992px) {
  .navbar-collapse {
      position: fixed;
      top: 70px;
      right: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 75%;
      height: 100%;
      background-color:white;
  }

  .navbar-collapse.collapsing {
      right: -75%;
      transition: height 0s ease;
  }

  .navbar-collapse.show {
      right: 0;
      transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
      transition: right 500ms ease-in-out;
  }
}