#button {
  background-color: black;
  border: none;
  color: white;
  border-radius: 0%;
}
.scrolled {
  padding-top: 20px;
}

.nav-item:hover .nav-link {
  color: blue;
}
.nav-item {
  padding: 10px;
  font-family: Nunito;
  font-weight: 700;

}
.Homepage {
  background-image: url("../../assets/img/bg.png");
  background-size: cover;
  padding-top: 10%;
  width: 95%;
  padding-bottom: 5%;
}
.button1 {
  background-color: white;
  border: none;
  color: black;
  border-radius: 0%;
  width: 70%;
  height: 50px;
  font-weight: lighter;
}
.button2 {
  background-color: black;
  border: none;
  color: white;
  border-radius: 0%;
  width: 90%;
  text-align: left;
  height: 50px;
  font-weight: lighter;
  float: left;
}
.button3 {
  background-color: black;
  border: none;
  color: white;
  border-radius: 0%;
  width: 90%;
  text-align: center;
  height: 40px;
  font-weight: lighter;
}
.Homepage2 {
  background-color: #f4f4f4;
  background-size: cover;
  padding-top: 10%;
  width: 95%;
  padding-bottom: 5%;
}
.button4 {
  background-color: black;
  border: none;
  color: white;
  border-radius: 0%;
  width: 90%;
  text-align: center;
  height: 50px;
  font-weight: lighter;
}
h1 {
  word-spacing: normal;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 40.4px;
}
h4{
    font-family: Nunito;
    font-weight: 300;


}
h3{
    font-family: Nunito;
    font-weight: 300;


}
@media only screen and (max-width: 768px) {
  .img {
    display: none;
  }
}
