

        <section style="width: 95%;margin-top: 30px;">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">

                <a class="navbar-brand" href="#"><img src="../../assets/img/Logo.png" alt="" width="100px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto" style="margin-left: 280px;">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Developers<span class="sr-only">(current)</span></a>
                        </li>


                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" (click)="router1()" type="submit" id="button">Login</button>
                        </form>
                </div>
            </nav>
        </section>
        <div class="Homepage">
            <h1 style="color:white;font-size: 60px;">Your portal to <br> <br> financial freedom.</h1>
            <br>
            <p style="color:white;font-size:20px;">With FinLit, explore the world of Indian stock markets and give
                your<br>investments unbeatable results.</p><br>
            <Button class="button1"(click)="router1()"> Click here to get started</Button>

        </div>
        <br><br>
        <section>
            <p style="color:grey;font-size:small">
                WHAT WE BELIEVE IN
            </p>
            <h2>Your hard-earned money deserves more. Make it <br>grow by safely investing in stocks. Your one-stop
                <br>place to get started!
            </h2>
            <hr width="80%">
        </section>
        <section style="width: 95%;">
            <div class="container">
                <div class="row">
                    <div class="col-4" style="padding-top: 5%;">
                        <p style="color:grey;font-size:medium;float:left;">
                            About Us </p>
                        <br><br>
                        <h2 style="float: left;">Who we are
                        </h2><br><br>
                        <p style="float: left;font-size: medium;text-align: left;color: gray;letter-spacing: 1px;">We
                            are here to help you understand the importance of investing and how you can use the stock
                            market to gain great returns on your investment.</p>
                           <button class="button2" (click)="router1()">LEARN MORE</button>
                    </div>
                    <div class="col-8">
                        <img src="../../assets/img/bg2.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <br>
            <img src="../../assets/img/bg3.png" alt="" width="80%">
        </section>
        <section style="text-align: center;"> <br>
            <p style="color:grey;font-size:small;">
                About Us </p>
            <h2>About our company
            </h2><br>
            <div class="container">
                <div class="row">
                    <div class="col-1"></div>

                  <div class="col-5">
                    <h2 style="float:left;text-align: left;">Our Goal</h2>
                   
                        <p style="color:grey;font-size:small;float:left;text-align: left;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.

 </p>
                  </div>
                  <div class="col-5">
                    <h2 style="float:left;text-align: left;">Our Team details</h2>
                   
                        <p style="color:grey;font-size:small;float:left;text-align: left;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.

 </p>
                  </div>
                  <div class="col-1"></div>

                </div>
                <br><br>
                <div class="row">
                <div class="col-3"></div>

                
                  <div class="col-4"></div>
                </div>
               
</div>
        </section>
        <section style="padding-top: 5%;width: 95%;">
            <div class="Homepage2">
                <h1 style="color:black;font-size: 40px;">Don't let doubt hold you back.</h1>
            <br>
            <p style="color:black;font-size:18px;">With our content, get educated about the idea of stock market<br>investing and never look back.</p><br>
            <Button class="button4"(click)="router1()">Start Learning now!!!</Button>
            </div>
        </section>



