<mat-toolbar color="primary" *ngIf="this.userDetails">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>FinLit</span>
        <mat-icon>rowing</mat-icon>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li *ngIf="!userService.getToken()" >
                    <button mat-icon-button routerLinkActive="active" routerLink="/home/login">
                        Login
                    </button>
                </li>
               <li *ngIf="!userService.getToken()" >
                    <button mat-icon-button  routerLinkActive="active" routerLink="/home/register">
                        Sign Up
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink='/home/edit/{{userDetails._id}}' >
                            <mat-icon >build</mat-icon>
Edit Profile                        </button>
                        <button mat-menu-item (click)="onLogout()" routerLink='/login' >
                            <mat-icon >exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>

    </mat-toolbar-row>
</mat-toolbar>