
  <form style="text-align: center;" #editArticleForm="ngForm" (ngSubmit)="editArticleForm.valid && onSubmit(editArticleForm)">

        
          <h4>Name</h4>
    <input type="text" [value]="stockDetails.name" #name="ngModel" [(ngModel)]="stockDetails.name" name="name" placeholder="Name">
    <h4>Body</h4>
        <editor #description="ngModel" [(ngModel)]="stockDetails.description" name="description"
          placeholder="description" minlength="5" required
          [ngClass]="{'invalid-textbox' :editArticleForm.submitted && !description.valid }">
       
      </editor>
  
    <input type="submit" value="Edit">
  </form>
  