<div *ngIf="userDetails">
  <form #SendMessage="ngForm" style="text-align:center;" (ngSubmit)="SendMessage.valid && onSubmit(SendMessage)">
    <input type="hidden" #name="ngModel" [value]="userDetails._id" [(ngModel)]="userDetails._id" name="name" placeholder="Name"
      >
     <input type="hidden" #email="ngModel" [value]="userDetails.email" [(ngModel)]="userDetails.email" name="email" placeholder="Email"
     required >
   <div *ngIf="SendMessage.submitted && email.errors">
     <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
   </div>
   
     <br>
     <label for="query">Phone Number</label>
     <br>
         <input type="text"  #phone="ngModel" [(ngModel)]="userService.selectedMessage.phoneNumber" name="phoneNumber"
           placeholder="Phone Number" >
           <br>
     <label for="query">Response</label>
 <br>
     <input type="text" style="height: 100px;" #query="ngModel" [(ngModel)]="userService.selectedMessage.query" name="query"
       placeholder="Response"required>
  
    
   
     <input type="submit" value="Send response">
   </form>
 
   <!-- Success message -->
   <div class="success" *ngIf="showSuccessMessage">
     Saved Successfully
   </div>
   <div class="alert" *ngIf="serverErrorMessages">
     {{serverErrorMessages}}
   </div>
</div>